:root{ 
  --text-green-title: #1f3a2f;
  --text-green-body: #306844;

  --text-yellow-title:#FFC300; 
  --text-yellow-body: #FFDD00;  


  --cmpnt-green-bg: #e4f3e1;
  --cmpnt-yellow-bg: #fff3cd;
  
  --bg-light-yellow: #fffee0;
  --bg-off-white: #fffdf6; 

  --bg-card-green: #c8d8c8;
  
  
}

p{ 
  font-family: "Inter", sans-serif;
}

h1, h2{ 
  font-family: "Fraunces", sans-serif;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: var(--bg-off-white) ; 
}





